---
import Layout2 from '../layouts/Layout2.astro'
---

<Layout2 title='Contacto'>
	<main slot='article'><h2>Desde Article</h2></main>
</Layout2>

<style>
	main {
		background-color: inherit;
		padding: 20px;
		color: orange;
	}
</style>
