---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Welcome to Astro.'>
	<main>AUXILIAR MANIPULADODRA DEL CARTÓN</main>
</Layout>
<style>
	main {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		font-family: 'DEMI', sistyem-ui, sans-serif;
	}
</style>
