---
import Layout2 from '../layouts/Layout2.astro'
---

<Layout2 title='article'>
	<main slot='article'>
		<div class='cuerpo'>hola</div>
	</main>
</Layout2>

<style>
	main {
		height: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: light-dark(
			color-mix(in srgb, var(--color-background-l), black 3%),
			black
		);
		box-sizing: border-box;
	}
	main > * {
		box-sizing: border-box;
	}

	.cuerpo {
		display: flex;
		justify-content: center;
	}
</style>

<!-- background-color: light-dark(
color-mix(in srgb, var(--color-background-l), black 9%),
color-mix(in srgb, var(--color-background-d), white 9%)
); -->
