---
import LogoAuxi from '../components/icons/LogoAuxi.astro'
import BtnMenu from './BtnMenu.astro'
---

<main>
	<div class='logo'>
		<LogoAuxi />
	</div>
	<div>
		<BtnMenu />
	</div>
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	img {
		padding: 1rem;
	}
	.logo {
		margin: 1rem 0;
		width: 80%;
		height: auto;
	}
</style>
