<main>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore
		recusandae, cum, enim fuga sapiente saepe excepturi minus adipisci molestias
		perspiciatis sint consectetur quis? Quis iste tenetur ducimus unde maxime.
	</p>
</main>

<style>
	main {
		height: 100%;
		padding: 0;
		margin: 0;
	}
	p {
		margin: 0;
		background-color: light-dark(white, black);
		color: light-dark(black, white);
		padding: 20px;
		margin: 20px;
		border-radius: 10px;
	}
</style>
