<main>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum inventore
		recusandae, cum, enim fuga sapiente saepe excepturi minus adipisci molestias
		perspiciatis sint consectetur quis? Quis iste tenetur ducimus unde maxime.
	</p>
</main>

<style>
	main {
		background-color: #f1f1f1;
		padding: 20px;
		margin: 20px;
		border-radius: 10px;
	}
</style>
